= link_to 'Stats', franchise_season_stats_path(season_id: params[:id])
= link_to 'Roster', franchise_season_players_path(season_id: params[:id])
= link_to 'Draft', franchise_season_draftees_path(season_id: params[:id])
= link_to 'Transaction', franchise_season_transactions_path(season_id: params[:id])
