#roster {
  .lineup {
    .heading {
      font-size: 30px;
      text-align: center;
    }

    .column {
      text-align: center;

      .text {
        margin-bottom: 1rem;
        display: inline-block;
      }

      .player-card {
        cursor: pointer;

        &:hover { color: $orange; }
      }
    }
  }

  .minors {
    color: #76bad4;
    font-style: italic;
  }

  .expiring {
    position: relative;

    &:before {
      content: '';
      background: red;
      width: 7px;
      height: 7px;
      display: inline-block;
      border-radius: 50%;
      margin: 0 5px;
    }

    &:after {
      content: 'Contract Expiring';
      background: $white;
      display: none;
      position: absolute;
      top: 0;
      border: 2px solid;
      color: $orange;
      z-index: 200;
      width: 175%;
    }

    &:hover {
      &:after { display: block; }
    }
  }
}

.modal {
  background: rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;

  .card {
    background: $white;
    border-radius: 15px;
    padding: 20px;

    img {
      width: 100%;
      max-width: 200px;
      border-radius: 50%;
      border: 2px solid $orange;
    }

    .btn { width: 100%; }
  }

  .exit {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    &:hover { color: $orange; }
  }
}
