#transactions {
  .transaction-type {
    text-decoration: none;
    color: $black;
    font-family: $heading-font;
    text-transform: uppercase;
    font-size: 25px;
    margin-right: 10px;
    display: block;

    @media (min-width: 600px) { display: inline-block; }

    &:hover {
      color: $orange;
      text-decoration: underline;
    }
  }

  .transactions {
    list-style: none;

    li { margin: 10px 0; }
  }
}
