%section
  = form_for :draftee, url: franchise_season_draftee_path, method: :patch, local: true do |f|
    .row
      = render 'form', f: f
      .column
        = f.submit 'Save', class: 'btn'
        = link_to 'Delete Player', franchise_season_draftee_path(id: @draftee.id), method: :delete, class: 'btn'
