.row
  .column
    %h1 Franchise
    =link_to 'New Franchise', new_franchise_path
    -@franchises.each do |franchise|
      .card
        = link_to franchise_seasons_path(franchise.id) do
          %h2.inline-block.inline-block=franchise.name
          %span=franchise.created_at
          %p=franchise.id
        = link_to 'Delete', franchise_path(id: franchise.id), method: :delete
