form {
  * { font-family: $text-font; }

  label {
    color: $orange;
    font-weight: bold;
  }

  input,
  textarea,
  select {
    margin-bottom: 1rem;
    width: 100%;
    font-size: 16px;
    padding: 5px;
    border: 1px solid #979797;
    height: 33px;
  }

  .btn {
    width: 100%;
    text-align: center;
  }
}
