//TYPOGRAPHY
.heading {
  font-family: $heading-font;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 1rem 0;
  font-size: 32px;

  @media (min-width: 900px) { font-size: 45px; }
}

.text {
  font-family: $text-font;
  margin: 0 0 1rem 0;
}

//HELPERS
.orange { color: $orange; }

//TEAM COLORS
.team-banner,
.franchise-card {
  background: $black;
  color: $orange;
  border: 4px solid;
}

.anaheim-ducks {
  background: $black;
  color: #FC4C02;
}

.arizona-coyotes {
  background: #862633;
  color: #DDCBA4;
}

.boston-bruins {
  background: $black;
  color: #FFB81C;
}

.buffalo-sabres {
  background: #041E42;
  color: #FFB81C;
}

.calgary-flames {
  background: #C8102E;
  color: #F1BE48;
}

.carolina-hurricanes {
  background: #C8102E;
  color: $black;
}

.chicago-blackhawks {
  background: #C8102E;
  color: $black;
}

.colorado-avalanche {
  background: #6F263D;
  color: #236192;
}

.columbus-blue-jackets {
  background: #041E42;
  color: #C8102E;
}

.dallas-stars {
  background: #006341;
  color: $black;
}

.detroit-red-wings {
  background: #ce1126;
  color: $white;
  border: 4px solid #ce1126;
}

.edmonton-oilers {
  background: #041E42;
  color: #FC4C02;
}

.florida-panthers {
  background: #C8102E;
  color: #B9975B;
}

.los-angeles-kings {
  background: $black;
  color: #A2AAAD;
}

.minnesota-wild {
  background: #024930;
  color: #DDCBA4;
}

.montreal-canadiens {
  background: #A6192E;
  color: #001E62;
}

.nashville-predators {
  background: #FFB81C;
  color: #041E42;
}

.new-jersey-devils {
  background: #C8102E;
  color: $black;
}

.new-york-islanders {
  background: #003087;
  color: #FC4C02;
}

.new-york-rangers {
  background: #0033A0;
  color: #C8102E;
}

.ottawa-senators {
  background: #C8102E;
  color: $black;
}

.philadelphia-flyers {
  background: #FA4616;
  color: $black;
}

.pittsburgh-penguins {
  background: $black;
  color: #FFB81C;
}

.san-jose-sharks {
  background:	#006272;
  color: $black;
}

.st-louis-blues {
  background: #003087;
  color: #FFB81C;
}

.tampa-bay-lightning {
  background: $white;
  color: #00205B;
}

.toronto-maple-leafs {
  background: $white;
  color: #00205B;
}

.vancouver-canucks {
  background: #00205B;
  color: #00843D;
}

.vegas-golden-knights {
  background: #333F48;
  color: #B9975B;
}

.washington-capitals {
  background: #C8102E;
  color: #041E42;
}

.winnipeg-jets {
  background: #041E42;
  color: #A2AAAD;
}


//ALERTS
.alert {
  text-align: center;
  font-family: $text-font;
  margin: 0 auto;
  max-width: 800px;

  &.alert-alert,
  &.alert-notice {
    color: $white;
    padding: 2px;
    background: #76bad4;
  }
}
