%section
  = form_for :player, url: franchise_season_player_path, method: :patch, local: true do |f|
    .row
      = render 'form', f: f
      .column
        = f.submit 'Save', class: 'btn'
        = link_to 'Delete Player', franchise_season_player_path(id: @player.id), method: :delete, class: 'btn'
