%section
  = form_for :transaction, url: franchise_season_transaction_path, method: :patch, local: true do |f|
    .row
      = render 'form', f: f
      .column
        = f.submit 'Save', class: 'btn'
        = link_to 'Delete Transaction', franchise_season_transaction_path(id: @transaction.id), method: :delete, class: 'btn black'
